body{
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#b1{
    width: 500px;
    height: 500px;
    border: 1px solid;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
    background-image: url(img.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}
#foto_instagram{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
#foto_facebook{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
#foto_twitter{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
#Follow{
    border: 1px solid;
    border-radius: 10px;
    background-color: black;
    color: white;
}
#Message{
    border: 1px solid;
    border-radius: 10px;
}